<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./img2/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./img2/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./img2/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./img2/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./img2/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./img2/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./img2/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./img2/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img2/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../img2/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../img2/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../img2/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../img2/favicon-16x16.png"
    />
    <link rel="manifest" href="./img2/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="img2/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/new_style.css" />

    <title>Dashboard</title>
  </head>
  
  <body class="dashboard">
    <header>
      <div class="navbar">
        <div class="logo">
          <img src="../img2/logo.png" alt="logo" />
        </div>
        <div class="searchBer">
          <input type="text" placeholder="Search" />
          <button type="button">
            <img src="../img2/search.svg" alt="search icon" />
          </button>
        </div>
        <div class="accountnotify">
          <div class="account">
            <div class="userImg">
              <img src="../img2/user.jpg" alt="user" />
            </div>
            <div>
              <h5 class="username">
                Customer Name
                <select id="account">
                  <option>Option 1</option>
                  <option>Option 2 Option 1</option>
                  <option>Option 3 Option 1</option>
                  <option>Option 4</option>
                </select>
              </h5>
              <small class="editProfile">Edit Profile</small>
            </div>
          </div>
          <div class="notifyIcon hasNotification">
            <img src="../img2/notification.svg" alt="notification" />
          </div>
        </div>
        <div class="hamburger" id="hamburger">
          <svg
            width="35"
            height="35"
            viewBox="0 0 35 35"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.06694 10.5001H27.0669C27.4533 10.5001 27.7669 10.1872 27.7669 9.8001C27.7669 9.413 27.4533 9.1001 27.0669 9.1001H6.06694C5.68054 9.1001 5.36694 9.413 5.36694 9.8001C5.36694 10.1872 5.67984 10.5001 6.06694 10.5001Z"
              fill="#1f384c"
            />
            <path
              d="M6.06694 25.9H27.0669C27.4533 25.9 27.7669 25.5871 27.7669 25.2C27.7669 24.8129 27.4533 24.5 27.0669 24.5H6.06694C5.68054 24.5 5.36694 24.8129 5.36694 25.2C5.36694 25.5871 5.67984 25.9 6.06694 25.9Z"
              fill="#1f384c"
            />
            <path
              d="M6.06694 18.2H27.0669C27.4533 18.2 27.7669 17.8871 27.7669 17.5C27.7669 17.1129 27.4533 16.8 27.0669 16.8H6.06694C5.68054 16.8 5.36694 17.1129 5.36694 17.5C5.36694 17.8871 5.67984 18.2 6.06694 18.2Z"
              fill="#1f384c"
            />
          </svg>
        </div>
      </div>
    </header>
    <main class="dashboardPage">
      <aside class="sidebar" id="sidebar">
        <div class="menu">
          <div class="searchBer onlyMobile">
            <input type="text" placeholder="Search" />
            <button type="button">
              <img src="../img2/search.svg" alt="search icon" />
            </button>
          </div>
          <p>MENU</p>
          <a href="#" class="active">
            <img src="../img2/dashboard.svg" alt="dashboard" />
            Dashboard
          </a>
          <a href="/users/upload">
            <img src="../img2/lower-new-bill.svg" alt="Lower a new bill" />
            Lower a new bill
          </a>
          <a href="#">
            <img src="../img2/manage-menu.svg" alt="Manage Menu" />
            Manage Menu
          </a>
        </div>
        <div class="menu">
          <p>OTHERS</p>
          <a href="#" class="active">
            <img src="../img2/setting.svg" alt="Settings" />
            Settings
          </a>
          <a href="/users/getMultipleFiles">
            <img src="../img2/manage-payments.svg" alt="Manage Payments" />
            Manage Payments
          </a>
          <a href="#">
            <img src="../img2/profile.svg" alt="Accounts" />
            Accounts
          </a>
          <a href="#">
            <img src="../img2/help.svg" alt="Help" />
            Help
          </a>
          <a href="/logout">
          <img src="../img2/log-out.svg" alt="logout" />
            logout
            </span>
            <h3>Sign Out</h3>
        </a>
        </div>
        <div class="onlyMobile menu">
          <div class="account">
            <div class="userImg">
              <img src="../img2/user.jpg" alt="user" />
            </div>
            <div>
              <h5 class="username">
                Customer Name
                <select id="account">
                  <option>Option 1</option>
                  <option>Option 2 Option 1</option>
                  <option>Option 3 Option 1</option>
                  <option>Option 4</option>
                </select>
              </h5>
              <small class="editProfile">Edit Profile</small>
            </div>
          </div>
        </div>
      </aside>
  <main class="mainContent">

    <div class="content">
        

        {{#if message}}
                  <div class="alert alert-success">
                      {{message}}
                  </div>
              {{/if}}

        <div class="datatable">
          <table>
            <thead>
            <tr>
                    <th>Sr.Number</th>
                    <th>Bill Name</th>
                    <th>Service Provider</th>
                    <th>Amount Saved</th>
                    <th>Status</th>
                  </tr>
            </thead>
           <tbody>
                  {{#each records}}
                  <tr>
                    <td>{{@index}}</td>
                    <td><a href="/{{this.filepath}}">{{ this.filename }}</a></td>
                    <td>{{this.serviceprovider}}</td>
                    <td>${{this.filesavedamount}}</td>
                    <td>{{this.filestatus}}</td>
                    {{!-- <td>{{ author}}</td> --}}

                  </tr>
                  {{/each}}
                </tbody>

                {{!-- pending,processing,accepted,rejected,completed. --}}

          </table>
        </div>
    </div>
    <div class="content">
        

        {{#if message}}
                  <div class="alert alert-success">
                      {{message}}
                  </div>
              {{/if}}

        <div class="datatable">
          <table>
            <thead>
            <tr>
                    <th>Service Address</th>
                    <th>Account Number</th>
                    <th>Service Provider</th>
                    <th>Amount Saved</th>
                    <th>Status</th>
                  </tr>
            </thead>
           <tbody>
                  {{#each records}}
                  <tr>
                    <td>{{@index}}</td>
                    <td><a href="/{{this.filepath}}">{{ this.filename }}</a></td>
                    <td>{{this.serviceprovider}}</td>
                    <td>${{this.filesavedamount}}</td>
                    <td>{{this.filestatus}}</td>
                    {{!-- <td>{{ author}}</td> --}}

                  </tr>
                  {{/each}}
                </tbody>

                {{!-- pending,processing,accepted,rejected,completed. --}}

          </table>
        </div>
    </div>
  </main>

  <div class="mobileHeader">
    <div class="logo">
      <img src="./img/logo.png" alt="logo" />
    </div>
    <div class="menutogler" id="menubtn">
      <span class="material-icons-sharp">
        menu
        </span>
    </div>
  </div>
</section>

<script>
            $(document).ready(function() {
                $("#user_search").on("keyup", function() {
                  console.log("Value Changed")
                    var value = $(this).val().toLowerCase();
                    $("#users tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });

                function getComboA(id){
                    console.log(id);
                }


                $("select").on("change", function () {
                  var id = $(this).attr("id");
                  var fileStatus = this.value;
                  $.ajax({
                    url: "http://localhost:8080/users/updateFileStatus",
                    type: "POST",
                    data: {
                      id: id,
                      fileStatus: fileStatus,
                    },
                    dataType: "json",
                    success: function (result) {
                      console.log(result)
                    },
                  });
        });

            });

        </script>
        

<script src="/js/main.js"></script>
    </body>
   </html>

